<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎进入后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/login.css" />
    <script src="/public/javascript/jquery-3.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascript/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascript/login.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div id="login" class="clearfix">
        <div id="login_title">
            <span>博客后台管理系统</span>
        </div>
        <div id="login_cont">
            <div id="username">
                <label>用户名:</label>
                <input type="text" name="username" placeholder="输入用户名">
            </div>
            <div id="password">
                <label>密码:</label>
                <input type="password" name="password" placeholder="输入密码">
            </div>
            <p class="warning"></p>
            <button type="button" class="btn">登录后台管理系统</button>
        </div>
    </div>

</body>

</html>