 html,
 body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
 }
 
 .clearfix:before,
 .clearfix:after {
     content: ' ';
     display: table;
 }
 
 .clearfix:after {
     clear: both;
 }
 
 body {
     display: flex;
     align-items: center;
     /*定义body的元素垂直居中*/
     justify-content: center;
     /*定义body的里的元素水平居中*/
     background-color: #dfdfdf;
 }
 
 #login {
     width: 600px;
     height: 330px;
     margin-top: -50px;
     background: rgba(115, 158, 200, .7);
 }
 
 #login_title {
     width: 300px;
     height: 180px;
     margin-top: 60px;
     text-align: center;
     float: left;
     border-right: 1px solid gray;
     /* box-shadow: 4px 0 4px rgba(170, 170, 170, .6); */
 }
 
 #login_title span {
     font-size: 20px;
     line-height: 180px;
 }
 
 #login_cont {
     float: left;
     width: 300px;
     height: 180px;
     margin-top: 60px;
 }
 
 #username,
 #password {
     padding-left: 30px;
 }
 
 #username {
     margin-top: 35px;
 }
 
 #password {
     margin-top: 10px;
 }
 
 #username label,
 #password label {
     width: 60px;
 }
 
 .btn {
     margin-top: 10px;
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     background-color: #486F90;
     color: white !important;
 }
 
 .btn:hover {
     color: white !important;
 }
 
 .form-ul a {
     color: white;
     text-decoration: none;
 }
 
 .form-ul a:hover {
     color: white;
     text-decoration: none;
 }
 
 .warning {
     position: relative;
     left: 30px;
     color: red;
 }